/* Colors */
:root {
  --mainBlack: #202020;
  --white: #fff;
  --red: #ff4050;
  --purple: #bb6bff;
  --gray-300: #333;
  --gray-400: #444;
  --gray-500: #555;
  --gray-600: #666;
  --gray-700: #777;
  --gray-800: #888;
  --gray-900: #999;
  --c9: #c9c9c9;
}
