// 섹션7
.card-news {
  .content__link {
    display: flex;
    overflow: hidden;
    border-radius: 12px;
    @include tablet {
      flex-direction: column;
    }
    .content {
      &__image {
        width: 250px;
        height: 250px;
        flex-shrink: 0;
        overflow: hidden;
        background: url("../images/c1400x960.jpg") no-repeat center / cover;
        @include tablet {
          width: 100%;
        }
      }
      &__info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 24px 30px 32px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
        background-color: #fff;
      }
      &__desc {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; // 숫자로 줄 갯수를 조절
      }
      &__members {
        margin-top: 15px;
        color: rgb(187, 107, 255);
        font-size: 13px;
        letter-spacing: -0.3px;
        align-self: flex-start;
        border: 1px solid #000;
        padding: 5px 20px;
      }
    }
  }
}
.card__situation {
  display: flex;
  justify-content: space-between;
}
