.header__icon {
  &-list {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  &-item {
    &.avatar img {
      width: 2.4rem;
      border-radius: 8px;
    }
    a {
      display: flex;
      align-items: center;
      padding: 1rem;
    }
  }
}

@include tablet {
  .header__icon {
    &-list {
      height: 55px;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
    &-item {
      &.avatar {
        display: none;
      }
      a {
        padding: 8px 0;
      }
    }
  }
}
