.header__nav {
  color: var(--gray-400);
  font-family: "KakaoBig Bold";
  &-list {
    height: 100%;
    display: flex;
    gap: 2.2rem;
    letter-spacing: -0.1px;
  }
  &-item {
    position: relative;
    a {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 1.4rem;
    }
    &.active {
      color: var(--mainBlack);
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 2px solid var(--gray-300);
        z-index: 1;
      }
    }

    .newbadge {
      position: absolute;
      top: 35%;
      right: 10%;
      width: 4px;
      height: 4px;
      background-color: var(--red);
      border-radius: 50%;

      @include tablet {
        top: 1px;
        right: -1px;
      }
    }
  }
}

@include laptop {
  .header__nav-list {
    gap: 1.2rem;
  }
  .header__nav-item a {
    padding: 1rem;
  }
}

@include tablet {
  .header__nav {
    color: var(--mainBlack);
    font-family: "KakaoBig Regular";
    &-list {
      gap: 0;
      display: flex;
      justify-content: space-between;
    }
    &-item {
      a {
        padding: 5px 4px 9px;
      }
    }
  }
}
