.footer__logo {
  width: 115px;
  height: 18px;
}

.footer__text {
  padding: 16px 0 18px;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: -0.1px;
}

.footer__text {
  font-size: 14px;

  color: #666;
}

.footer__info {
  display: flex;
  justify-content: space-between;

  .corp {
    &__list {
      display: flex;
    }
    &__item {
      display: flex;
      align-items: center;
      padding: 6px 0;
      font-size: 14px;

      color: #444;
      &:last-child::after {
        display: none;
      }
      &::after {
        content: "";
        width: 2px;
        height: 2px;
        display: block;
        margin: 0 10px;
        background-color: rgb(68, 68, 68);
      }
    }
  }

  .sns {
    &__list {
      display: flex;
      gap: 10px;
    }
    &__item {
      width: 30px;
      height: 20px;
      padding: 6px 0;
      color: #444;
      img {
        width: 20px;
      }
    }
  }
}

small {
  display: none;
}

// 푸터 반응형
@media (max-width: 768px) {
  .footer__inner {
    justify-content: center;
    align-items: center;
  }
  .footer__info {
    flex-direction: column;
    align-items: center;
  }
  .corp__item:first-child {
    display: none;
  }
  small {
    display: block;
  }
}
