/* layout */

.inner {
  position: relative;
  width: 100%;
  max-width: 114rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;
  @include tablet {
    max-width: 76.8rem;
    min-width: 375px;
    padding: 0 2rem;
  }
}
