@include tablet {
  .main__inner {
    display: flex;
    flex-direction: column;
  }
}

.main {
  margin-top: 30px;
  @include tablet {
    margin-top: 20px;
  }
  &__left {
    width: 700px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    @include tablet {
      width: 100%;
      gap: 20px;
    }
  }
  &__right {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include tablet {
      margin-top: 20px;
      width: 100%;
      gap: 20px;
    }
  }
}
