.header__logo a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .header__logo {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 55px;
    transform: translate(-50%, -50%);
  }
}

.header__nav {
  color: #444;
  font-family: "KakaoBig Bold";
}
.header__nav-list {
  height: 100%;
  display: flex;
  gap: 22px;
  letter-spacing: -0.1px;
}
.header__nav-item {
  position: relative;
}
.header__nav-item a {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px;
}
.header__nav-item.active {
  font-family: "KakaoBig Bold";
}
.header__nav-item.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid rgb(57, 57, 57);
  z-index: 1;
}
.header__nav-item .newbadge {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 4px;
  height: 4px;
  background-color: rgb(255, 90, 114);
  border-radius: 50%;
}
@media (max-width: 768px) {
  .header__nav-item .newbadge {
    top: 1px;
    right: -1px;
  }
}

.header__icon-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.header__icon-item.avatar img {
  width: 24px;
  border-radius: 8px;
}
.header__icon-item a {
  display: flex;
  align-items: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .header__inner {
    display: flex;
    flex-direction: column-reverse;
    background-color: #fff;
  }
}
@media (max-width: 768px) {
  .header__nav {
    color: #202020;
    font-family: "KakaoBig Regular";
  }
  .header__nav-list {
    gap: 0;
    display: flex;
    justify-content: space-between;
  }
  .header__nav-item a {
    padding: 5px 4px 9px;
  }
  .header__icon-list {
    height: 55px;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .header__icon-item.avatar {
    display: none;
  }
  .header__icon-item a {
    padding: 8px 0;
  }
}