@charset "UTF-8";
/* Colors */
:root {
  --mainBlack: #202020;
  --white: #fff;
  --red: #ff4050;
  --purple: #bb6bff;
  --gray-300: #333;
  --gray-400: #444;
  --gray-500: #555;
  --gray-600: #666;
  --gray-700: #777;
  --gray-800: #888;
  --gray-900: #999;
  --c9: #c9c9c9;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
}

dl,
li,
menu,
ol,
ul {
  list-style: none;
}

img {
  width: 100%;
  border: 0;
  vertical-align: top;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
}

a,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

input {
  border: 0;
  border-radius: 0;
}

button,
input,
select,
textarea {
  vertical-align: middle;
  font-size: 100%;
}

body,
button,
input,
select,
table,
td,
textarea,
th {
  line-height: 1;
  color: #333;
}

/* Typography  */
:root {
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 1.6rem;
}
@media (max-width: 1024px) {
  body {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
}

@font-face {
  font-family: "KakaoBig regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff2) format("woff2"), url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff) format("woff");
}
@font-face {
  font-family: "KakaoBig Bold";
  font-style: normal;
  font-display: swap;
  src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff2) format("woff2"), url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff) format("woff");
}
/* common */
body {
  background-color: #f7f7f7;
  font-family: "KakaoBig Regular", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.bold {
  font-family: "KakaoBig Bold";
}

.hidden {
  position: absolute;
  top: auto;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

progress {
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
progress::-webkit-progress-bar {
  overflow: hidden;
  background-color: rgb(233, 233, 233);
  border-radius: 50px;
}
progress::-webkit-progress-value {
  background-color: #ff4050;
}

img {
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
}

/* layout */
.inner {
  width: 100%;
  max-width: 114rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .inner {
    max-width: 76.8rem;
    min-width: 375px;
    padding: 0 2rem;
  }
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  background-color: var(--white);
}
.header::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: rgb(238, 238, 238);
}

@media (max-width: 768px) {
  .header {
    height: 92px;
  }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .main__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main {
  margin-top: 30px;
}
@media (max-width: 768px) {
  .main {
    margin-top: 20px;
  }
}
.main__left {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .main__left {
    width: 100%;
    gap: 20px;
  }
}
.main__right {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  .main__right {
    margin-top: 20px;
    width: 100%;
    gap: 20px;
  }
}

.section__banner img {
  border-radius: 12px;
}

.aside__content {
  border-radius: 12px;
  background-color: #fff;
}
.aside__content-title {
  margin-bottom: 30px;
}

.together {
  border-radius: 12px;
  overflow: hidden;
}
.together__change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgb(255, 232, 0);
  height: 250px;
  padding: 34px 26px 29px;
}
.together__change__title {
  font-size: 20px;
}
.together__change__today {
  margin-top: 12px;
  font-size: 13px;
}
.together__change__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 41px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 21px 20px;
  background-color: #fff;
}
.together__change__total-text {
  font-size: 16px;
}
.together__change__total-value {
  font-size: 18px;
}
.together__review {
  height: 280px;
  padding: 31px 26px 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.together__review__tag {
  font-size: 13px;
}
.together__review__title {
  font-size: 18px;
}
.together__review__desc {
  font-size: 14px;
  line-height: 2;
}

.badge {
  height: 204px;
  padding: 35px 26px;
}
.badge__title {
  font-size: 20px;
  line-height: 2;
}
.badge__desc {
  font-size: 14px;
}

.aside__content:nth-child(4), .aside__content:nth-child(5) {
  padding: 30px 26px;
}
.aside__content:nth-child(4) {
  height: 387px;
}
.aside__content:nth-child(5) {
  height: 420px;
}
@media (max-width: 768px) {
  .aside__content:nth-child(5) {
    height: 793px;
  }
}
.aside__content-title {
  font-size: 20px;
}

.heartweather__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  height: 100%;
}
.heartweather__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background-color: #eee;
  width: 100%;
}
.heartweather__item-image {
  width: 60px;
  height: 60px;
  background-color: #ddd;
}
.heartweather__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0 10px;
}
.heartweather__item-info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  height: 100%;
}
.heartweather__item-info__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  height: 100%;
}

.news {
  width: 100%;
  height: 100%;
}
.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  margin-top: 30px;
}
.news__item {
  width: 152px;
  height: 152px;
  background-color: rgb(255, 232, 0);
  border-radius: 4px;
}
@media (max-width: 768px) {
  .news__item {
    width: 342px;
    width: 50%;
    height: 342px;
    height: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.news__item-title {
  font-size: 15px;
  line-height: 2.5;
}
.news__item-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news__item-arrow {
  position: absolute;
  padding: 5px;
  margin: 10px;
  bottom: 0;
  right: 0;
  border: 1px solid #fff;
  border-radius: 50%;
}

.footer {
  font-size: 14px;
  position: relative;
  width: 100%;
  height: 180px;
  margin-top: 76px;
  padding: 40px 0 45px;
  border-top: 1px solid rgb(238, 238, 238);
}
.footer__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__logo {
  width: 115px;
  height: 18px;
}
.footer__text {
  padding: 16px 0 18px;
  line-height: 1.57;
  color: var(--gray-600);
  letter-spacing: -0.1px;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 40px;
    height: 240px;
  }
  .footer__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__logo a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .header__logo {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 55px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.header__nav {
  color: var(--gray-400);
  font-family: "KakaoBig Bold";
}
.header__nav-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.2rem;
  letter-spacing: -0.1px;
}
.header__nav-item {
  position: relative;
}
.header__nav-item a {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4rem;
}
.header__nav-item.active {
  color: var(--mainBlack);
}
.header__nav-item.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid var(--gray-300);
  z-index: 1;
}
.header__nav-item .newbadge {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 4px;
  height: 4px;
  background-color: var(--red);
  border-radius: 50%;
}
@media (max-width: 768px) {
  .header__nav-item .newbadge {
    top: 1px;
    right: -1px;
  }
}

@media (max-width: 1024px) {
  .header__nav-list {
    gap: 1.2rem;
  }
  .header__nav-item a {
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  .header__nav {
    color: var(--mainBlack);
    font-family: "KakaoBig Regular";
  }
  .header__nav-list {
    gap: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav-item a {
    padding: 5px 4px 9px;
  }
}
.header__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__icon-item.avatar img {
  width: 2.4rem;
  border-radius: 8px;
}
.header__icon-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  .header__icon-list {
    height: 55px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header__icon-item.avatar {
    display: none;
  }
  .header__icon-item a {
    padding: 8px 0;
  }
}
.my-menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  opacity: 0;
}

.open {
  opacity: 1;
  z-index: 1;
}

.my-menu {
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 1;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100vh;
  padding: 30px;
  max-width: 300px;
  min-width: 280px;
}

.my-menu__login {
  font-family: "KakaoBig Bold";
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-bottom: 20px;
  color: var(--mainBlack);
}
.my-menu__login a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.my-menu__login i {
  border-radius: 10px;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.my-menu__btns {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background-color: #f9f9f9;
}
.my-menu__btn {
  position: relative;
  font-family: "KakaoBig Bold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  color: #444;
  background-color: #f9f9f9;
  font-size: 13px;
}
.my-menu__btn:last-child::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: #e5e5e5;
}
.my-menu__btn a {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}
.my-menu__links {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.my-menu__links__item {
  font-family: "KakaoBig Bold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  color: var(--mainBlack);
}
.my-menu__links__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}
.my-menu__links__sub {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.my-menu__links__sub__item {
  font-family: "KakaoBig Bold";
  font-size: 14px;
  width: 48%;
  padding: 10px 0;
  color: var(--gray-600);
}

.section {
  border-radius: 12px;
  padding: 24px 30px 32px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  background-color: var(--white);
}
.section__title {
  font-size: 20px;
  color: var(--mainBlack);
  font-family: "KakaoBig Bold";
  letter-spacing: -0.3px;
}
.section__text {
  font-size: 15px;
  color: var(--gray-600);
}
.section__desc {
  font-size: 14px;
  letter-spacing: -0.1px;
}

@media (max-width: 768px) {
  .section {
    padding: 26px 20px 30px;
  }
}
.fundraising-last-donor .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .fundraising-last-donor .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.fundraising-last-donor .card__image {
  width: 280px;
  height: 168px;
  overflow: hidden;
  background: url("../images/c1400x960.jpg") no-repeat center/cover;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .fundraising-last-donor .card__image {
    width: 100%;
  }
}
.fundraising-last-donor .card__header {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  background-color: #202020;
  color: #c9c9c9;
}
.fundraising-last-donor .card__info {
  width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .fundraising-last-donor .card__info {
    width: 100%;
  }
}
.fundraising-last-donor .card__info-title {
  font-size: 18px;
  line-height: 1.33;
}
.fundraising-last-donor .card__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}
.fundraising-last-donor .card__situation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}
.fundraising-last-donor .card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .fundraising-last-donor .card__btn {
    gap: 9px;
  }
}
.fundraising-last-donor .card__btn button {
  width: 163px;
  height: 40px;
  border: 1px solid #c9c9c9;
  letter-spacing: -0.1px;
  border-radius: 6px;
}
@media (max-width: 768px) {
  .fundraising-last-donor .card__btn button {
    width: 50%;
  }
}
.fundraising-best .card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .fundraising-best .card__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.fundraising-best .card__item {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .fundraising-best .card__item {
    width: 100%;
  }
}
.fundraising-best .card__link {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .fundraising-best .card__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.fundraising-best .card__image {
  border-radius: 8px;
  width: 100%;
  height: 138px;
  margin-bottom: 10px;
  background: url("../images/c1400x960.jpg") no-repeat center/cover;
}
@media (max-width: 768px) {
  .fundraising-best .card__image {
    max-width: 124px;
    height: 86px;
    margin-bottom: 0;
    width: 100%;
  }
}
.fundraising-best .card__info {
  width: 100%;
}
.fundraising-best .card__title {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.fundraising-best .card__organization {
  font-size: 12px;
  line-height: 18px;
}
.fundraising-best .card__progress {
  margin: 6px 0;
}
.fundraising-best .card__situation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fundraising-best .card__situation-current-amount {
  font-size: 12px;
  line-height: 20px;
}
.fundraising-best .card__situation-attainment {
  font-size: 12px;
  line-height: 20px;
}

.fundraising-tag-view .content__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.fundraising-tag-view .content__tags .content__tag {
  padding: 10px 15px;
  background-color: #000;
  font-size: 14px;
  color: #fff;
  border-radius: 999px;
}
.fundraising-tag-view .card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .fundraising-tag-view .card__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.fundraising-tag-view .card__item {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .fundraising-tag-view .card__item {
    width: 100%;
  }
}
.fundraising-tag-view .card__link {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .fundraising-tag-view .card__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.fundraising-tag-view .card__image {
  border-radius: 8px;
  width: 100%;
  height: 138px;
  margin-bottom: 10px;
  background: url("../images/c1400x960.jpg") no-repeat center/cover;
}
@media (max-width: 768px) {
  .fundraising-tag-view .card__image {
    max-width: 124px;
    height: 86px;
    margin-bottom: 0;
    width: 100%;
  }
}
.fundraising-tag-view .card__info {
  width: 100%;
}
.fundraising-tag-view .card__title {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.fundraising-tag-view .card__organization {
  font-size: 12px;
  line-height: 18px;
}
.fundraising-tag-view .card__progress {
  margin: 6px 0;
}
.fundraising-tag-view .card__situation-current-amount {
  font-size: 12px;
  line-height: 20px;
}
.fundraising-tag-view .card__situation-attainment {
  font-size: 12px;
  line-height: 20px;
}

.fundraising-time-limit .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .fundraising-time-limit .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.fundraising-time-limit .card__image {
  width: 280px;
  height: 168px;
  overflow: hidden;
  background: url("../images/c1400x960.jpg") no-repeat center/cover;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .fundraising-time-limit .card__image {
    width: 100%;
  }
}
.fundraising-time-limit .card__header {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  background-color: #202020;
  color: #c9c9c9;
}
.fundraising-time-limit .card__info {
  width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .fundraising-time-limit .card__info {
    width: 100%;
  }
}
.fundraising-time-limit .card__info-title {
  font-size: 18px;
  line-height: 1.33;
}
.fundraising-time-limit .card__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}
.fundraising-time-limit .card__situation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}
.fundraising-time-limit .card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .fundraising-time-limit .card__btn {
    gap: 9px;
  }
}
.fundraising-time-limit .card__btn button {
  width: 163px;
  height: 40px;
  border: 1px solid #c9c9c9;
  letter-spacing: -0.1px;
  border-radius: 6px;
}
@media (max-width: 768px) {
  .fundraising-time-limit .card__btn button {
    width: 50%;
  }
}
.fundraising-time-limit .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .fundraising-time-limit .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.fundraising-time-limit .card__image {
  width: 280px;
  height: 168px;
  overflow: hidden;
  background: url("../images/c1400x960.jpg") no-repeat center/cover;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .fundraising-time-limit .card__image {
    width: 100%;
  }
}
.fundraising-time-limit .card__header {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  background-color: #202020;
  color: #c9c9c9;
}
.fundraising-time-limit .card__info {
  width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .fundraising-time-limit .card__info {
    width: 100%;
  }
}
.fundraising-time-limit .card__info-title {
  font-size: 18px;
  line-height: 1.33;
}
.fundraising-time-limit .card__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}
.fundraising-time-limit .card__situation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}
.fundraising-time-limit .card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .fundraising-time-limit .card__btn {
    gap: 9px;
  }
}
.fundraising-time-limit .card__btn button {
  width: 163px;
  height: 40px;
  border: 1px solid #c9c9c9;
  letter-spacing: -0.1px;
  border-radius: 6px;
}
@media (max-width: 768px) {
  .fundraising-time-limit .card__btn button {
    width: 50%;
  }
}
.card-slide .content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 12px;
}
.card-slide .content__link .content__image {
  width: 250px;
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  background: url("../images/c1400x960.jpg") no-repeat center/cover;
}
.card-slide .content__link .content__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 30px 32px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  background-color: #fff;
}
.card-slide .content__link .content__desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.card-slide .content__link .content__members {
  margin-top: 15px;
  color: rgb(187, 107, 255);
  font-size: 13px;
  letter-spacing: -0.3px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: 1px solid #000;
  padding: 5px 20px;
}

.card-news .content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 12px;
}
@media (max-width: 768px) {
  .card-news .content__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.card-news .content__link .content__image {
  width: 250px;
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  background: url("../images/c1400x960.jpg") no-repeat center/cover;
}
@media (max-width: 768px) {
  .card-news .content__link .content__image {
    width: 100%;
  }
}
.card-news .content__link .content__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 30px 32px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  background-color: #fff;
}
.card-news .content__link .content__desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.card-news .content__link .content__members {
  margin-top: 15px;
  color: rgb(187, 107, 255);
  font-size: 13px;
  letter-spacing: -0.3px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: 1px solid #000;
  padding: 5px 20px;
}

.card__situation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--gray-400);
  font-size: 14px;
}
.footer__info .corp__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__info .corp__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0;
}
.footer__info .corp__item:last-child::after {
  display: none;
}
.footer__info .corp__item::after {
  content: "";
  width: 2px;
  height: 2px;
  display: block;
  margin: 0 10px;
  background-color: rgb(68, 68, 68);
}
.footer__info .sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer__info .sns__item {
  width: 30px;
  height: 20px;
  padding: 6px 0;
}
.footer__info .sns__item img {
  width: 20px;
}

small {
  display: none;
}

@media (max-width: 768px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .corp__item:first-child {
    display: none;
  }
  small {
    display: block;
  }
}