footer {
  margin-top: 76px;
  width: 100%;
  height: 180px;
  padding: 40px 0 45px;
  border-top: 1px solid #fff;
  .inner {
    flex-direction: column;
  }
}

.footer__logo {
  width: 115px;
  height: 18px;
}

.footer__text {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: -0.1px;
  padding: 16px 0 18px;
}

.footer__text {
  font-size: 14px;

  color: #666;
}

.footer__info {
  display: flex;
  justify-content: space-between;

  .corp {
    &__list {
      display: flex;
    }
    &__item {
      display: flex;
      align-items: center;
      padding: 6px 0;
      font-size: 14px;

      color: #444;
      &:last-child::after {
        display: none;
      }
      &::after {
        display: block;
        content: "";
        width: 2px;
        height: 2px;
        background-color: rgb(68, 68, 68);
        margin: 0 10px;
      }
    }
  }

  .sns {
    &__list {
      display: flex;
      gap: 10px;
    }
    &__item {
      padding: 6px 0;
      width: 30px;
      height: 20px;
      color: #444;
      img {
        width: 20px;
      }
    }
  }
}

// 푸터 반응형
@media (max-width: 768px) {
}
