.header__logo {
  a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 768px) {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 55px;
    transform: translate(-50%, -50%);
  }
}

.header__nav {
  color: #444;
  font-family: "KakaoBig Bold";
  &-list {
    height: 100%;
    display: flex;
    gap: 22px;
    letter-spacing: -0.1px;
  }
  &-item {
    position: relative;
    a {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 14px;
    }
    &.active {
      font-family: "KakaoBig Bold";
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 2px solid rgb(57, 57, 57);
        z-index: 1;
      }
    }

    .newbadge {
      position: absolute;
      top: 35%;
      right: 10%;
      width: 4px;
      height: 4px;
      background-color: rgb(255, 90, 114);
      border-radius: 50%;
      @media (max-width: 768px) {
        top: 1px;
        right: -1px;
      }
    }
  }
}

.header__icon {
  &-list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  &-item {
    &.avatar img {
      width: 24px;
      border-radius: 8px;
    }
    a {
      display: flex;
      align-items: center;
      padding: 10px;
    }
  }
}

// 헤더 반응형
@media (max-width: 768px) {
  .header {
    &__inner {
      display: flex;
      flex-direction: column-reverse;
      background-color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .header__nav {
    color: #202020;
    font-family: "KakaoBig Regular";
    &-list {
      gap: 0;
      display: flex;
      justify-content: space-between;
    }
    &-item {
      a {
        padding: 5px 4px 9px;
      }
    }
  }
  .header__icon {
    &-list {
      height: 55px;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
    &-item {
      &.avatar {
        display: none;
      }
      a {
        padding: 8px 0;
      }
    }
  }
}
