main {
  margin-top: 100px;
  article {
    width: 700px;
    display: flex;
    gap: 30px;
    flex-direction: column;
  }
  aside {
    width: 360px;
    min-height: 50px;
    background-color: #fff; // 임시
  }
}

.section__top img {
  border-radius: 12px;
}

.content {
  padding: 24px 30px 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  background-color: #fff;
  border-radius: 12px;
  &__title {
    font-size: 20px;
    line-height: 1.4;
    color: rgb(32, 32, 32);
    letter-spacing: -0.3px;
  }
  &__description {
    font-size: 15px;
    margin-top: 4px;
    line-height: 1.6;
    color: rgb(102, 102, 102);
    letter-spacing: -0.1px;
  }
}

.card {
  margin-top: 20px;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  &__image {
    width: 280px;
    height: 168px;
    background: url("../images/c1400x960.jpg") no-repeat center / cover;
    border-radius: 8px;
    overflow: hidden;
<<<<<<< HEAD
=======
    &__header {
      display: flex;
      justify-content: space-between;
      background-color: #202020;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #c9c9c9;

      padding: 0 10px;
    }
>>>>>>> da9c5ea390c4c0f1acb886d9b953ea5f6f147f09
  }
  &__header {
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c9c9c9;
    font-weight: bold;
    padding: 0 10px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 335px;
    &__title {
      font-size: 18px;

      line-height: 1.33;
    }
<<<<<<< HEAD
  }
  &__progress {
    width: 100%;
    height: 4px;
    appearance: none;
    &::-webkit-progress-bar {
      overflow: hidden;
      background-color: rgb(233, 233, 233);
      border-radius: 50px;
=======
    &__value {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
>>>>>>> da9c5ea390c4c0f1acb886d9b953ea5f6f147f09
    }
    &::-webkit-progress-value {
      background-color: #ff4050;
    }
  }
  &__value {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
  }
  &__situation {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  &__btns {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    button {
      width: 163px;
      height: 40px;
      border: 1px solid #c9c9c9;
      letter-spacing: -0.1px;
      border-radius: 6px;
    }
  }
}
<<<<<<< HEAD
=======

progress {
  width: 100%;
  height: 4px;
  appearance: none;
  &::-webkit-progress-bar {
    overflow: hidden;
    background-color: rgb(233, 233, 233);
    border-radius: 50px;
  }
  &::-webkit-progress-value {
    background-color: #ff4050;
  }
}

.cardlist {
  &__carditem {
    width: 200px;
    img {
      margin: 10px 0;
    }
  }
}
>>>>>>> da9c5ea390c4c0f1acb886d9b953ea5f6f147f09
